# https://access.redhat.com/documentation/en-us/red_hat_enterprise_linux/8/html/performing_an_advanced_rhel_installation/kickstart-commands-and-options-reference_installing-rhel-as-an-experienced-user

# Set the authentication options for the system
# License agreement
eula --agreed
# Use text mode install
text
# Disable Initial Setup on first boot
firstboot --disable
# Keyboard layout
keyboard --vckeymap=us --xlayouts='us'
# System language
lang en_US.UTF-8
# Network information
network --bootproto=dhcp --device=link --activate
network --hostname=rocky9.localdomain
# Root password (rocky)
rootpw $6$QUXWhRS8Ys1jBXV2$0N2A8NRnmk6kDtuk716B6uPbhcrLaHwSPDqPp.3XvYZzXPArcfGKEzL8VxycHX6QZejJssxtZCzN7K1JyV1Xt. --iscrypted
# SELinux configuration
selinux --disable
# Do not configure the X Window System
skipx
# System timezone
timezone UTC
# System bootloader configuration
bootloader --location=mbr --append="crashkernel=auto"
# Clear the Master Boot Record
zerombr
# Remove partitions
clearpart --all --initlabel
# Automatically create partitions using LVM
autopart --type=lvm
# Reboot after successful installation
reboot

%packages
# dnf group info minimal-environment
@^minimal-environment
# Exclude unnecessary stuff
-iwl*firmware
-firewalld
%end

%post --nochroot --logfile=/mnt/sysimage/root/ks-post.log
# Disable quiet boot and splash screen
sed --follow-symlinks -i "s/ rhgb quiet//" /mnt/sysimage/etc/default/grub
sed --follow-symlinks -i "s/ rhgb quiet//" /mnt/sysimage/boot/grub2/grubenv

echo -e "PermitRootLogin yes\n$(cat /etc/ssh/sshd_config)" > /mnt/sysimage/etc/ssh/sshd_config
%end